body {
  margin: 40px 0 0 0; }

.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 85px;
  background: white url(/assets/img/logo_md.png) center no-repeat;
  text-indent: -9999px;
  color: #f06714; }
